DATABASE_URL_LOCAL="mysql://root:@localhost:3306/my_mayo"
DATABASE_URL_NEON="postgresql://user:pass@ep-xxx.neon.tech/risol_mayones?sslmode=require"
SESSION_COOKIE_NAME="risol_session_user"
SESSION_MAX_AGE="604800"
